.collapsible{
	background-color: #1d75bd;
	color: white;
	cursor: pointer;
	padding: 18px;
	width: 100%;
	border: none;
	text-align: left;
	outline: none;
	font-size: 16px;
}

.active, .collapsible:hover{
	background-color: #10446D;
}

.collapsible:after {
	content: '\002B';
	color: white;
	font-weight: bold;
	float: right;
	margin-left: 5px;
}

.active:after {
	content: "\2212";
}

.content {
	padding: 0 18px;
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.2s ease-out;
	background-color: #f1f1f1;
	color: #1d75bd;
}
#roundtop{
	border-radius: 10px 10px 0 0;
}
#roundbottom{
	 border-radius: 0px 0px 10px 10px;
}